 @import "~@/assets/css/vars.less";


html,body,#app{
	width: 100%;
	height: 100%;
}
body{
	background-color: #F3F6F8;
	font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.expired{
	.v-modal{
    opacity: 0.1
  }
}



a {
  color: #409EFF;
  text-decoration: none;

  &:hover{
    color:#66B1FF;
  }
}

.el-progress-bar__inner{
	transition: width 1s;
}

#nprogress .bar{
	background: @color-yellow;
	height: 1px;

	.peg{
		box-shadow: none;
	}
}




[class*=" icon"], 
[class^=icon-] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-button [class*=icon-]{
  font-size: inherit;
  &+span{
  	margin-left: 5px;
  }
}

.el-input__suffix{
	.el-icon-circle-close{
		&:before {
		  content: "\e79d";
		}

		&:hover{
			color: @color-dark;
		}
	}
}

.el-dropdown-menu{
	margin-top: -10px !important;
	
	&.no_popper__arrow{
		.popper__arrow{
		  display: none !important;
		}
	}

} 

.el-message-box{
	vertical-align: middle !important;
}


