@layout-box-shadow: rgba(0,21,41,.08);

@hideside-duration:0.2s ease-in-out;

@color-blue:#2E74FF;

@color-green:#67C23A;

@color-yellow:#E6A23C;

@color-red:#F56C6C;

@color-dark:#303133;

@color-gray-dark:#909399;

@color-gray-light:#C0C4CC;

@color-border:#ebeef5;

@sidebar-width:120px;

@import "~@/assets/css/mixin.less";



